<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Nirushana</h1></a>
        <p>A Node EJS site</p>
    </div>
    <ui>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ui>
</nav>