<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ut dicta voluptatibus dignissimos dolorum vero fugiat eveniet molestiae quod recusandae itaque maxime neque rem dolorem, fuga maiores quia! Magni, officiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ut dicta voluptatibus dignissimos dolorum vero fugiat eveniet molestiae quod recusandae itaque maxime neque rem dolorem, fuga maiores quia! Magni, officiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ut dicta voluptatibus dignissimos dolorum vero fugiat eveniet molestiae quod recusandae itaque maxime neque rem dolorem, fuga maiores quia! Magni, officiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ut dicta voluptatibus dignissimos dolorum vero fugiat eveniet molestiae quod recusandae itaque maxime neque rem dolorem, fuga maiores quia! Magni, officiis.</p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>